#header #header-spacing .header-links .header-link {
    color: rgb(252, 218, 89)!important;
}

#home-create-buttons a {
    background-color: #fdd306!important;
    color: #fff!important;
}

a {
    color: #fdd306!important;
}

#footer #footer-spacer .footer-section.links-externos .ckan-name,
#footer #footer-spacer .footer-section.links-externos .ckan-name:hover {
    color: #fdd306!important;
}

/* botones */
.btn.btn-blue,
.btn.btn-blue:hover, .btn.btn-blue:active, .btn.btn-blue:focus,
.organization-container .organization .add-organization a,
.gobar-static-container button,
#search-results .add-dataset a,
.featured-groups .group-container .group.active:hover,
#header #header-spacing .header-links .header-link:hover, 
#header #header-spacing .header-links .header-link.active,
.pkg-container .pkg-actions button {
    background: rgb(252, 218, 89)!important;
    color: #fff!important;
}

#header #header-spacing .header-links .header-link.dropdown ul {
    background-color: rgb(252, 218, 89)!important;
}

#header #header-spacing .header-links .header-link.dropdown ul a li:hover {
    color: rgb(252, 218, 89)!important;
    background: #fff!important;
}

#header #header-spacing .header-links .user-divisor {
    border-left: solid 2px rgb(252, 218, 89)!important;
}

div.pkg-file-img > svg > path,
svg.user-logo > path {
    fill: rgb(252, 218, 89)!important;
}

.dataset-list .dataset-item:hover .dataset-border .dataset-content .dataset-title,
.dataset-list .dataset-item:hover .dataset-border {
    border-right-color: rgb(252, 218, 89)!important;
    color: rgb(252, 218, 89)!important;
}

div.resource-alternative-packages > .title-h,
div.resource-additional-info > .title-h,
.resource-container .resource .title h1,
.pkg-container .package-info:hover h3,
#pkg-recent-activity h2.recent-activity-title,
#pkg-secondary-info h2.secondary-info-title,
#pkg-main-info #pkg-title-and-desc h1.pkg-title {
    color: rgb(252, 218, 89)!important;
}

#footer #footer-spacer .footer-section.logo a.social-link:hover {
    background: rgb(252, 218, 89)!important;
    color: white!important;
}