{% extends h.get_andino_base_page() %}


{% block page %}

    <div class="container-fluid" id="template-config-container">
        <div class="restricted-max-width ">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1 about-template-container" style="padding: 0 60px;">

                <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                <h1 class="about-template">Glosario</h1>
                <label class="about-template">Estamos rodeados de datos. Para poder entenderlos te explicamos los términos más comunes.</label>

                <div class="about-components">
                    <h4>Dato</h4>
                    <p>Elemento descontextualizado que puede dar origen a la generación de información. Son símbolos que describen hechos, condiciones, valores o situaciones. Un dato puede ser una letra, un número o cualquier símbolo que representa una cantidad, una medida, una palabra o una descripción. Los datos son la verdadera materia prima para generar información con valor agregado.</p>
                </div>

                <div class="about-components">
                    <h4>Dato Personal</h4>
                    <p>Información de cualquier tipo referida a personas físicas o de existencia ideal, determinadas o determinables.</p>
                </div>

                <div class="about-components">
                    <h4>Dato Sensible</h4>
                    <p>Aquellos datos personales que revelan origen racial o étnico, opiniones políticas, convicciones religiosas o morales, afiliación sindical, información referente a la salud o a la vida sexual o cualquier otro dato que pueda producir por su naturaleza o su contexto, algún trato discriminatorio al titular de los datos.</p>
                </div>

                <div class="about-components">
                    <h4>Dato Público</h4>
                    <p>Es cualquier dato generado en el ámbito gubernamental, o que se encuentra bajo su guarda, y que no tiene su acceso restringido por ninguna legislación específica.</p>
                </div>

                <div class="about-components">
                    <h4>Dato Abierto</h4>
                    <p>Los datos abiertos son aquellos a los que cualquier persona puede acceder, usar y compartir libremente. Sólo deben atribuirse y compartirse con la misma licencia con la que fueron publicados. Son, a su vez, datos públicos disponibilizados en un medio digital, bajo una licencia abierta y usando para ello un formato estándar abierto.</p>
                </div>

                <div class="about-components">
                    <h4>Conjunto de datos</h4>
                    <p>También se los conoce como datasets. Son la pieza principal en todo el catálogo de datos. Éstos agrupan uno o más recursos de datos y son el eje sobre el que se documentan los metadatos de la información.</p>
                </div>

                <div class="about-components">
                    <h4>Recurso</h4>
                    <p>Los recursos son la pieza de información más pequeña del catálogo y son los verdaderos activos de datos del portal.</p>
                </div>

                <div class="about-components">
                    <h4>Información</h4>
                    <p>Es un dato dotado de relevancia y utilidad. Para obtener información es necesario aplicar algún tipo de transformación o procesamiento sobre los datos. Convertir datos en información es un proceso que genera valor, aporta relevancia, genera algo nuevo que se desconocía.</p>
                </div>

                <div class="about-components">
                    <h4>Licencia Abierta</h4>
                    <p>Los datos abiertos necesitan estar abiertos tanto técnica, como legalmente. Para hacerlo, tenemos que aplicarles una licencia. Los datos en poder del sector público no deben estar sujetos a restricciones de patentes. Más importante aún es asegurarse de que estén en formatos legibles que permitan una mayor reutilización. Por ejemplo, documentos en PDF (Portable Document Format) limitan la extracción de los datos y su procesamiento.</p>
                </div>

                <div class="about-components">
                    <h4>Metadatos</h4>
                    <p>Ciertas características o atributos de los datos son definidos para facilitar su comprensión. Estas características se conocen como "metadatos". Suele decirse, por esa razón, que "los metadatos son datos sobre los datos". Los metadatos pueden describir cómo un dato es representado, cuáles son los rangos de valores aceptables, su relación con otros datos y cómo estos deben ser etiquetados. También pueden proporcionar otra información pertinente, como el administrador responsable, leyes y reglamentos asociados, y la política de gestión de acceso.</p>
                </div>

                <div class="about-components">
                    <h4>API</h4>
                    <p><i>Application Programming Interface</i> es el punto de entrada donde un sistema recibe peticiones para ejecutar una tarea previamente programada. Es un modo establecido que facilita la consulta y el acceso a datos a través de un método específico.</p>
                </div>
        </div>
    </div>

    {% resource 'gobar_js/config/file_upload.js' %}
    {% resource 'gobar_js/config/radio_buttons.js' %}

{% endblock %}
