{% extends h.get_andino_base_page() %}

{% block subtitle %} - Ejemplo de sección nueva{% endblock %}

{% block content %}

<div class="home">
        
    <div id="title" class="container-fluid title-variant-4" style="">
        <div class="background-overlay no-padding-bottom">
            <div class="restricted-max-width">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div id="title-container" class="col-xs-12 col-md-8 text-left">
                        
                        <h1>Historias con Datos</h1>
                        <p class="description">
                            Descripción para esta sección.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="dataset-list">

                    <a href="http://www.buenosaires.gob.ar/baobras" target="blank" class="dataset-item">
                        <div class=" col-xs-12 col-md-4">
                            <div class="dataset-container">
                                <div class="dataset-border">
                                    <div class="restricted-max-width">
                                        <img src="/img/iconos-03.svg" class="api-icon-img" style="max-width: 70px">
                                        <div class="dataset-content col-xs-9">
                                            <h3 class="dataset-title">BA Obras</h3>
                                            <div class="dataset-notes">Conocé las obras que están transformando la Ciudad. Mirá dónde y qué empresas las están haciendo y los montos invertidos.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="http://bit.ly/gcba-iodc" target="blank" class="dataset-item">
                        <div class=" col-xs-12 col-md-4">
                            <div class="dataset-container">
                                <div class="dataset-border">
                                    <div class="restricted-max-width">
                                        <img src="/img/iconos-03.svg" class="api-icon-img" style="max-width: 70px">
                                        <div class="dataset-content col-xs-9">
                                            <h3 class="dataset-title">BA Data VR</h3>
                                            <div class="dataset-notes">Explorá los más de 1000 recursos disponibles en data.buenosaires.gob.ar de una nueva manera.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="http://www.buenosaires.gob.ar/presupuestoabierto" target="blank" class="dataset-item">
                        <div class=" col-xs-12 col-md-4">
                            <div class="dataset-container">
                                <div class="dataset-border">
                                    <div class="restricted-max-width">
                                        <img src="/img/iconos-03.svg" class="api-icon-img" style="max-width: 70px">
                                        <div class="dataset-content col-xs-9">
                                            <h3 class="dataset-title">Presupuesto Abierto</h3>
                                            <div class="dataset-notes">Visualizaciones para facilitar la comprensión de la ejecución presupuestaria en la Ciudad. Mirá quién, cómo, cuánto y dónde se distribuye el presupuesto.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="https://www.lanacion.com.ar/2171270-obras-ciudad-transporte-lidera-ranking-inversiones-salud" target="blank" class="dataset-item">
                        <div class=" col-xs-12 col-md-4">
                            <div class="dataset-container">
                                <div class="dataset-border">
                                    <div class="restricted-max-width">
                                        <img src="/img/iconos-03.svg" class="api-icon-img" style="max-width: 70px">
                                        <div class="dataset-content col-xs-9">
                                            <h3 class="dataset-title">Obras Públicas en la Ciudad</h3>
                                            <div class="dataset-notes">
                                                    Análisis del dataset de BA Obras. Distribución por área, costo y ubicación de las obras. Autor: LN data</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
        
            </div>
        </div>

        
        <div class="row">
            <div style="display: flex; justify-content: space-around; align-items: center; margin: 50px 0 150px 0;">
                <p class="text-center no-margin button-container gobar-static-container">
                    <a href="http://www.buenosaires.gob.ar/jefedegobierno/secretariageneral/historias-con-datos" target="_blank">
                        <button>VER TODAS LAS HISTORIAS</button>
                    </a>
                </p>
            </div>
        </div>

    </div>

{% endblock content %}
