{% extends h.get_andino_base_page() %}

{% block subtitle %} - Historias con datos{% endblock %}

{% block content %}

<div class="home">

    <div id="title" class="container-fluid title-variant-4" style="">
        <div class="background-overlay no-padding-bottom">
            <div class="restricted-max-width">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div id="title-container" class="col-xs-12 col-md-8 text-left">

                        <h1>Historias con Datos</h1>
                        <p class="description">
                            Mirá todas los análisis, visualizaciones y desarrollos a partir de datos abiertos!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="dataset-list histories-list">
            <a href="http://www.buenosaires.gob.ar/baobras" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/1.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>BA Obras</h4>
                                    <div class="dataset-notes">
                                        <p>Conocé las obras que están transformando la Ciudad. Mirá dónde y qué
                                            empresas las están haciendo y los montos invertidos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://bit.ly/gcba-iodc" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/2.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>BA Data VR</h4>
                                    <div class="dataset-notes">
                                        <p>Explorá los más de 1000 recursos disponibles en data.buenosaires.gob.ar de
                                            una nueva manera.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://www.buenosaires.gob.ar/presupuestoabierto" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/3.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Presupuesto Abierto</h4>
                                    <div class="dataset-notes">
                                        <p>Visualizaciones para facilitar la comprensión de la ejecución presupuestaria
                                            en la Ciudad. Mirá quién, cómo, cuánto y dónde se distribuye el
                                            presupuesto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.lanacion.com.ar/2171270-obras-ciudad-transporte-lidera-ranking-inversiones-salud"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/4.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Obras Públicas en la Ciudad</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis del dataset de BA Obras. Distribución por área, costo y ubicación
                                            de las obras. Autor: LN data</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://pabloino.github.io/tp-eant-blog/es/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/5.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Inversión Inmobiliaria</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis de diferentes variables para averiguar en qué zona de la ciudad
                                            convendría comprar un inmueble sin que se desvalorice. Autor: Pablo Ino</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://blog.properati.com.ar/buenos-aires-en-3d/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/6.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Buenos Aires en 3D</h4>
                                    <div class="dataset-notes">
                                        <p>Mapa de precios por metro, usos, alturas y tipos de inmuebles de la Ciudad
                                            de Buenos Aires. Autor: Properati</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://www.arboladourbano.com/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/7.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Arbolado Urbano</h4>
                                    <div class="dataset-notes">
                                        <p>Mapa para buscar los árboles que se encuentran en el espacio público de la
                                            Ciudad. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.lanacion.com.ar/2080726-la-hora-del-jacaranda-que-calles-de-buenos-aires-se-llenaron-de-flores-violetas"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/8.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>La hora del Jacarandá</h4>
                                    <div class="dataset-notes">
                                        <p>En Noviembre la Ciudad se viste de violeta. Mirá en qué calles podés
                                            encontrar a los 14 mil jacarandás. Autor: LN data</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://lemon-py.github.io/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/9.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Pollen Alert</h4>
                                    <div class="dataset-notes">
                                        <p>Aplicación que utiliza datos satelitales y permite conocer las etapas de
                                            floración de los plátanos y determinar el patrón de dispersión del polen y
                                            partículas volátiles.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.lanacion.com.ar/1957729-unicos-en-su-especie-en-las-veredas-portenas" target="blank"
                class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/10.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Arbolado en la Ciudad</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis de las especies de árboles de la Ciudad</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://blog.properati.com.ar/en-que-barrios-las-mujeres-sufren-mas-violencia-en-sus-noviazgos/"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/11.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Test de noviazgo violento</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis de las respuestas del test de noviazgo violento según su ubicación
                                            geográfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://lppargentina.org.ar/subtedata/evaluamos-el-compromiso-un-subte-cada-3-minutos-en-hora-pico/"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/12.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Subte en hora pico</h4>
                                    <div class="dataset-notes">
                                        <p>Evaluación del compromiso de gobierno "Un subte cada 3 minutos en hora pico"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.lanacion.com.ar/2078256-domingo-f-sarmiento-el-presidente-mas-homenajeado-en-las-calles-portenas"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/13.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Calles con historia</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis de calles que llevan nombres de ex presidentes de la Nación.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://donde.huesped.org.ar/#/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/14.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Dónde</h4>
                                    <div class="dataset-notes">
                                        <p>Localización de entrega de preservativos, test VIH y otros servicios de
                                            Salud sexual y reproductiva.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://www.lanacion.com.ar/2070616-mi-buenos-aires-querido-solo-92-de-las-2208-calles-portenas-con-nombres-de-personas-son-de-mujer"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/15.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Género y calles</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis periodístico de los nombres de las calles porteñas según género
                                            masculino y femenino.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://puntoconvergente.uca.edu.ar/el-arte-que-no-ve-el-sol/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/16.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Arte subterráneo</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis interactivo que cuenta las historias de los murales de la red de
                                            Subtes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://lppargentina.org.ar/subtedata/mira-como-se-movio-el-subte-en-2016/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/18.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Subte 2016</h4>
                                    <div class="dataset-notes">
                                        <p>Mirá cómo se movió el subte durante 2016</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://medium.com/@martinalalu/movilidad-y-g%C3%A9nero-uso-de-bicicletas-p%C3%BAblicas-en-buenos-aires-cd0b303eeaeb"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/19.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Movilidad y género</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis de género en el movimiento del sistema de bicicletas públicas de la
                                            ciudad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.google.com/maps/d/viewer?mid=1A1wPy4AntT-MRoHdBdiakYqRUp8&hl=en_US&usp=sharing" target="blank"
                class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/20.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Mapeo de espacios verdes</h4>
                                    <div class="dataset-notes">
                                        <p>Mapa con ubicación de espacios verdes realizado por alumnos de 3ro
                                            Bachillerato en Economía y Gestión trabajaron en la materia Tecnología de
                                            la Información</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.clarin.com/ciudades/fotomultas_0_rk4LJpfRl.html" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/21.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Cámaras fotomultas</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis periodístico sobre las cámaras de control vehicular.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://www.lanacion.com.ar/1991703-las-bicis-gratuitas-se-usan-mas-de-lunes-a-viernes" target="blank"
                class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/22.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Bicicletas públicas: días de mayor uso</h4>
                                    <div class="dataset-notes">
                                        <p>Nota periodística sobre el uso del sistema de bicicletas públicas de la
                                            ciudad según la frecuencia de uso por día.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://www.lanacion.com.ar/1986867-contenedores-basura-verde" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/23.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Basura en la Ciudad</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis periodístico sobre el funcionamiento de los contenedores de la
                                            Ciudad.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://bitsandbricks.github.io/post/prediccion-de-demanda-de-servicios-urbanos-con-prophet/"
                target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/24.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Predicción de Demanda de Servicios Urbanos </h4>
                                    <div class="dataset-notes">
                                        <p>Análisis predictivo de los reclamos de la Ciudad. Datasets: Sistema único de
                                            Atención Ciudadana</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.youtube.com/watch?time_continue=66&v=tC1R4EjuMiE" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/25.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Un día en la red subtes</h4>
                                    <div class="dataset-notes">
                                        <p>Video interactivo con el movimiento de un día de los subtes de CABA.
                                            Datasets: Subte</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://bigdatacartografias.wordpress.com/cartografias-urbanas/bandas-x-barrio/" target="blank"
                class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/26.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>BA suena</h4>
                                    <div class="dataset-notes">
                                        <p>Diseño de aplicación que permite ver qué géneros musicales abordan las
                                            bandas inscriptas en el programa Bandas por Barrio. Datasets: Bandas por
                                            Barrio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://bigdatacartografias.wordpress.com/politicas-publicas/bicisendas/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/27.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Bicisendas</h4>
                                    <div class="dataset-notes">
                                        <p>Diseño de aplicación colaborativa que permite a los usuarios proponer
                                            mejoras, denunciar baches o irregularidades en las ciclovías o actualizar
                                            información cargada por otros usuarios. Datasets: Bicicletas Públicas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://sedici.unlp.edu.ar/handle/10915/59543" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/28.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Investigación: Apertura de datos en CABA</h4>
                                    <div class="dataset-notes">
                                        <p>Investigación comparada de la apertura de datos e innovación a través del
                                            análisis de Voz Data y apertura en Ciudad de Buenos Aires.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/CadaParcela" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/29.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Parcelas</h4>
                                    <div class="dataset-notes">
                                        <p>BOT de Twitter que brinda información sobre cada parcela de la Ciudad
                                            Datasets: Parcelas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://wego.here.com/?x=ep" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/30.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Here</h4>
                                    <div class="dataset-notes">
                                        <p>Aplicación que permite transitar la ciudad a través de sus mapas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://datosabiertos.aeroterra.com/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/31.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Aeroterra</h4>
                                    <div class="dataset-notes">
                                        <p>Plataforma colaborativa de información geográfica de la Ciudad y de otras
                                            ciudades el mundo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://maps.google.com.ar" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/32.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Google</h4>
                                    <div class="dataset-notes">
                                        <p>Mapa para conocer tu ciudad. Datasets: GTFS Colectivos y Subte</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://alephcero.github.io/bikeBA/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/33.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Intermodalidad</h4>
                                    <div class="dataset-notes">
                                        <p>Utilización del servicio de bicicletas públicas y estaciones de subte para
                                            optimizar tiempo de viaje al centro.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="http://dump.jazzido.com/vizbici/" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/34.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Uso de EcoBici</h4>
                                    <div class="dataset-notes">
                                        <p>Visualización interactiva sobre el uso de EcoBici</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/BAGobAbierto/status/1014143460339867648" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/35.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Subte y Mundial</h4>
                                    <div class="dataset-notes">
                                        <p>Visualización sobre el uso del Subte durante el partido Argentina - Nigeria
                                            del último mundial.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/rskiadaressis/status/1020805463263383552" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/36.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>EcoBici y género</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis de las estaciones más usdas por las mujeres</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/rskiadaressis/status/1018881517832073217" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/37.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Subte nocturno</h4>
                                    <div class="dataset-notes">
                                        <p>Análisis del uso del Subte durante la noche</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/BAGobAbierto/status/1001868129692213248" target="blank" class="dataset-item">
                <div class="col-xs-12 col-md-3">
                    <div class="dataset-container">
                        <div class="dataset-border">
                            <div class="restricted-max-width">
                                <div class="col-xs-912"><img src="/img/historias/39.png"></div>
                                <div class="dataset-content col-xs-12">
                                    <h4>Día del Transplante</h4>
                                    <div class="dataset-notes">
                                        <p>Visualización para el Día del Transplante</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="row">
        <p>&nbsp;</p>
    </div>

</div>

{% endblock content %}