{% extends h.get_andino_base_page() %}


{% block page %}

    <div class="container-fluid" id="template-config-container">
        <div class="restricted-max-width ">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1 about-template-container" style="padding: 0 60px;">

                <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                <h1 class="about-template">Marco Legal</h1>
                <label class="about-template">Esta es la legislación de la Ciudad que facilita la apertura de datos.</label>

                <div class="about-components">
                    <h4>Creación del sitio de datos abiertos</h4>
                    <p>A través del Decreto 156/2012 se implementó data.buenosaires.gob.ar como plataforma para facilitar la búsqueda, descubrimiento y acceso de los datos abiertos de la Ciudad.
                            https://boletinoficial.buenosaires.gob.ar/normativaba/norma/190097</p>
                </div>

                <div class="about-components">
                    <h4>Apertura por defecto
                        </h4>
                    <p>El Decreto 478/2013 estableció que todos los datos producidos por el Gobierno de la Ciudad son públicos por defecto a menos que una normativa establezca lo contrario.
                            https://boletinoficial.buenosaires.gob.ar/normativaba/norma/234859
                            </p>
                </div>

                <div class="about-components">
                    <h4>Acceso a la Información Pública
                        </h4>
                    <p>La Ley 104 garantiza el cumplimiento del derecho de Acceso a la Información Pública en el ámbito de la Ciudad de Buenos Aires.
                            https://boletinoficial.buenosaires.gob.ar/normativaba/norma/982
                        </p>
                </div>
            </div>
        </div>
    </div>

    {% resource 'gobar_js/config/file_upload.js' %}
    {% resource 'gobar_js/config/radio_buttons.js' %}

{% endblock %}
