{% extends h.get_andino_base_page() %}


{% block page %}

    <div class="container-fluid" id="template-config-container">
        <div class="restricted-max-width ">
            <div id="template-config" class="col-xs-12 col-md-10 col-md-offset-1 about-template-container" style="padding: 0 60px;">

                <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                <h1 class="about-template">Nosotros</h1>
                <label class="about-template">Somos la Dirección General de Calidad Institucional y Gobierno Abierto, área responsable de la política de apertura de datos de la Ciudad de Buenos Aires. Dependemos de la Subsecretaría de Gestión Estratégica y Calidad Institucional, de la Secretaría General y Relaciones Internacionales.</label>

                <div class="about-components">
                    <p>Si tenés alguna duda o querés compartirnos tu historia con datos escribinos a <a href="mailto:gobiernoabierto@buenosaires.gob.ar">gobiernoabierto@buenosaires.gob.ar</a> o bien por twitter a <a href="https://twitter.com/BAGobAbierto" target="blank">@BAGobAbierto</a>.</p>
                </div>
            </div>
        </div>
    </div>

    {% resource 'gobar_js/config/file_upload.js' %}
    {% resource 'gobar_js/config/radio_buttons.js' %}

{% endblock %}


